.section__hero {
    display: grid;
    grid-template-columns: 1fr;
    padding: 16px 16px 16px;
    align-items: center;
}

.hero {
    position: relative;
    width: 90%;
    margin-top: 20px;
    z-index: 0;
    align-items: center;
    min-height: clamp(500px, 80vh, 900px);
    overflow: hidden;
    margin: 0 auto;
}

.hero__image {
    position: absolute;
    opacity: .1;
    border-radius: 8px;
    margin: 0 auto;
}

.hero__content {
    position: absolute;
    padding: 200px 16px 16px;
    background-color: #e9e9e90c;
    margin: 0 auto;
    box-sizing: border-box;
    z-index: 1;
}

.hero__title {
    font-weight: 700;
    font-size: clamp(3rem, 4vw, 5rem);
    text-align: center;
    color: rgb(34, 34, 34);
    padding: 16px;
}

.hero__description {
    font-weight: 300;
    font-size: clamp(1.8rem, 2.5vw, 3rem);
    text-align: center;
    color: rgb(34, 34, 34);
    padding: 16px;
}

.hero__paragraph {
    font-size: clamp(1.2rem, 2.5vw, 1.5rem);
    text-align: center;
    color: rgb(34, 34, 34);
    padding: 16px;
}

.div {
    display: flex;
    margin: 0 auto;
    margin-top: 2rem;
    align-items: center;
}

@media (min-width: 900px) {
    .section__hero {
        grid-template-columns: repeat(2, 1fr);
    }

    .hero {
        min-height: clamp(500px, 80vh, 900px);
    }
}