.section {
    position: relative;
    display: flex;
    width: 100%;
    padding: 20px 16px 32px;
    align-items: center;
    background-color: transparent;
}

.section::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 80%;
  background-color: rgb(34, 34, 34);
  left: 50%;
  transform: translateX(-50%);
}

.image{
    margin: 0 auto
}
